services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./Backend
    container_name: backend
    env_file:
      - ./Backend/.env
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
